<h2><%= @house.name %></h2>

<h5>House members<h5>

<ul>
  <%= for user <- @house_members do %>
    <li><%= user.username %></li>
  <% end %>
</ul>


<%= link "Edit", to: house_path(@conn, :edit, @house) %>
<%= link "Back", to: home_path(@conn, :index) %>
