<h2>Show house</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @house.name %>
  </li>

</ul>

<%= link "Edit", to: house_path(@conn, :edit, @house) %>
<%= link "Back", to: house_path(@conn, :index) %>
