<div class="jumbotron">
  <h2>Welcome to ChoresSchmores!</h2>

  <%= if @current_user do %>
    <%= if @current_user.house_id != nil do %>
      <%= link "View my house", to: house_path(@conn, :show, @current_user.house_id) %>
    <% else %>
      <%= link "Join a house", to: house_path(@conn, :index) %>
      <%= link "Create a house", to: house_path(@conn, :new) %>
    <% end %>
  <% else %>
    <%= link "Join a house", to: house_path(@conn, :index) %>
  <% end %>
</div>
